ion-header{ 
    background-color: white;
    ion-toolbar{
        margin-top: 15px;
        text-align: center;
        background-color: white!important;
        ion-title{
            font-size: 18px;
            small{
                font-size: 18px;
                font-family: "SF Light";
                color:#4a4a4a;
            }
            strong{
                font-size: 18px;
                font-family: "SF Bold";
                color:var(--ion-color-primary, #36454f);
            }
        }
    }
    &:after{
        background-image: none;
    }

    hr{
        background:#d8d8d8;
        height: 1px;
        width: 90%;
        margin:auto;
        margin-top: 40px;
    }
}

