<ion-header no-border>  
    <ion-toolbar color="fff">
      <ion-buttons slot="start" style="margin-left: 20px">
          <ng-content select=[left]>

          </ng-content>
      </ion-buttons>
      <ion-title [color]="titleColor"><small>{{titleSmall}}</small> <strong>{{titleStrong}}</strong></ion-title>
      <ion-buttons slot="end" style="margin-right: 20px">
        <ng-content select=[right]>

        </ng-content>
    </ion-buttons>
    </ion-toolbar>
    <ng-content select=[more]>

    </ng-content>

    <hr>
    
</ion-header>