.token-badge{
    border-radius: 12px;
    width: auto;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    small{
        font-size: 14px;
        margin-right: 5px;
        font-family: "SF Semibold";
    }
    .token-icon{
        font-size: 15px;
    }
}