.card{
    background-color: #fff;
    overflow: hidden;
    margin: 10px 0;
    height: 100px;
    border-radius: 8px;
    padding-top: 3px;
    box-shadow: 0 6px 25px 0 rgba(200, 200, 200, 0.2);
    border: solid 2px #f6f6f6;
    position: relative;
    display: grid;
    grid-template-columns: 0.25fr 0.5fr 0.25fr;
    grid-template-areas:
    'icon dual time'
    ;
    .top-line{
        position: absolute;
        top:0;
        height: 3px;
        width: 100%;
    }
    .name{
        font-family: "SF Bold";
        position: absolute;
        font-size: 16px;
        color:var(--icon-color-secondary);
        width: 100%;
        text-align: center;
        top: 8px;
    }
    .icon{
        grid-area: icon;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: -30px;
    }
    .dual{
        grid-area: dual;
        display: flex;
        align-items: center;
        justify-content: center;
        .teams{
            
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            .team{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                .team-img{
                    height: 25px;
                    width: 25px;
                    margin-bottom: 5px;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .team-name{
                    font-family: "SF Semibold";
                    font-size: 9px;
                    color:black;
                    text-align: center;
                }
            }
        
            strong{
                display: flex;
                align-items: center;
                font-weight: bold;
                justify-content: center;
                margin-top: 20px;
            }
        }
    }
    .time{
        grid-area: time;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .date{
            font-family: "SF Semibold";
            font-size: 9px;
            color:var(--ion-color-secondary-tint);
            text-align: center;
        }
        .hour{
            font-size: 18px;
            font-family: "SF Semibold";
            text-align: center;
        }
    }
}

