<div class="card">
  <div class="top-line" [style.background-color]="color"></div>
  <strong class="name">{{tournamentName}}</strong>

  <div class="icon" [style.background-image]="'url(assets/games/' + gameLogo + ')'"></div>

  <div class="dual">
    <div class="teams">
        <div class="team">
          <div class="team-img" [style.background-image]="'url(assets/teams/' + teamOneLogo + ')'"></div>
          <small class="team-name">{{teamOneName}}</small>
        </div>
        <strong>VS</strong>
        <div class="team">
          <div class="team-img" [style.background-image]="'url(assets/teams/' + teamTwoLogo + ')'"></div>
          <small class="team-name">{{teamTwoName}}</small>
        </div> 
    </div>
  </div>

  <div class="time">
    <small class="date">{{tournamentDate}}</small>
    <strong class="hour" [style.color]="color">{{tournamentHour}}</strong>
  </div>
</div>
