<ion-app>
  <ion-split-pane>
    <ion-menu class="sidemenu">
      <div class="header">
        <div class="top-header">
          <div class="avatar"></div>
          <token-badge value="139"></token-badge>
        </div>
        <div class="info-user">
          <strong class="name-user">Fabiana Capmany</strong>
          <small class="pseudo-user">@FCapmany</small>
        </div>
        <hr>
      </div>
      <ion-content>
        <div class="list-section">
          <div class="line-section" *ngFor="let p of appPages" [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-icon class="icon-section" [name]="p.icon"></ion-icon>
            <strong class="text-section">{{p.title}}</strong>
          </div>
        </div>
      </ion-content>
      <div class="line-section disconnect-section">
          <ion-icon class="icon-section" name="md-log-out"></ion-icon>
          <strong class="text-section">Déconnexion</strong>
      </div>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
