default-header{
    .avatar{
        height: 40px;
        width: 40px;
        border-radius: 100px;
        background-color: grey;
    }

    .filters{
        margin-top: 45px;
        margin-bottom: -20px;
        ion-slide{
            width: auto!important;
        }
        ion-badge{
            border-radius: 15px;
            width: auto;
            padding: 8px 18px;
            text-align: center;
            font-size: 14px;
        }
    
        .checked{
            background-color: var(--ion-color-secondary-shade, #36454f);
        }        
    }

}
