<default-header title-color="primary">
  <ion-menu-toggle auto-hide left>
    <div class="avatar"></div>
  </ion-menu-toggle>
  <ion-icon slot="icon-only" name="pricetag" right></ion-icon>
    <ion-slides [options]="sliderConfig" class="filters" style="padding-left: 25px;" more>
      <ion-slide style="width:auto!important" *ngFor="let filter of filters">
          <ion-badge [ngClass]="{checked:!filter.checked}">{{filter.title}}</ion-badge>
      </ion-slide>
    </ion-slides>
</default-header>

<ion-content padding>

  <!-- ADD CARD COMPONENT (TO CREATE) -->
  <dual-card class="dual-card" *ngFor="let match of matches" 
  [tournamentName]="match.name"
  [teamOneLogo]="match.firstTeam.logo"
  [teamTwoLogo]="match.secondTeam.logo"
  [teamOneName]="match.firstTeam.name"
  [teamTwoName]="match.secondTeam.name"
  [tournamentDate]="match.date"
  [tournamentHour]="match.hour"
  ></dual-card>

</ion-content>