// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
    font-family: "SF Medium";
    src: url("./assets/fonts/SFNSText-Medium.otf");
}

@font-face {
    font-family: "SF Bold";
    src: url("./assets/fonts/SFNSText-Bold.otf");
}

@font-face {
    font-family: "SF Light";
    src: url("./assets/fonts/SFNSText-Light.otf");
}

@font-face {
    font-family: "SF Regular";
    src: url("./assets/fonts/SFNSText-Regular.otf");
}

@font-face {
    font-family: "SF Heavy";
    src: url("./assets/fonts/SFNSText-Heavy.otf");
}

@font-face {
    font-family: "SF Semibold";
    src: url("./assets/fonts/SFNSText-Semibold.otf");
}

body{
    font-family: "SF Medium";
    background-color: white;
}

//SIDEMENU CSS

.sidemenu{
    .header{
        width: 100%;
        padding: 30px;
        .top-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            .avatar{
                height: 40px;
                width: 40px;
                border-radius: 100px;
                background-color: grey;
            }
        }
        .info-user{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            font-family: "SF Semibold";
            .name-user{
                font-size: 18px;
                color:var(--ion-color-secondary, #36454f);
            }
            .pseudo-user{
                margin-top: 2px;
                font-size: 10px;
                color:var(--ion-color-secondary-shade, #36454f);
            }
        }
        hr{
            background:#d8d8d8;
            height: 1px;
            width: 90%;
            margin:auto;
            margin-top: 35px;
        }
    }
    
    .list-section{
        width: 100%;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }
    
    .line-section{    
        outline: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;
        .icon-section{
            font-size: 21px;
            margin-right: 25px;
            color:var(--ion-color-secondary, #36454f);
        }
        .text-section{
            font-size: 18px;
            color:var(--ion-color-secondary, #36454f);
        }
    }

    .disconnect-section{
        margin: 50px 30px;
        .icon-section{
            color:var(--ion-color-danger, #36454f);
        }
        .text-section{
            color:var(--ion-color-danger, #36454f);
        }
    }
}


